<!DOCTYPE html>
<html lang="en">
    <head>
        <module href="./components/head.html"></module>
    </head>
    <body>
        <module href="./components/nav.html"></module>

        <div class="container">
            <h1 class="page-title mt-3">Show Best Phone number</h1>
            <h3 class="page-subtitle fs-4 mx-5">OpenSource | Free JavaScript Library</h3>
            <section>
                <h2 class="sect-title">Introduction</h2>
                <p class="sect-body">Show Best Number is a free JavaScript for displaying the phone number that is closest to the visitor on your website - in a format that is familiar to them.</p>
                <p class="sect-body">If you have phone numbers from multiple countries, you can use this library to automatically display the number that is best for the visitor on your website. Gets the visitor's location based on their IP address.</p>
            </section>
            <section>
                <h2 class="sect-title">How to use the library</h2>
                <p class="sect-body"><strong>Step 1</strong>: Copy the sample <a href="https://github.com/aashish-joshi/phnum-js/blob/main/num.json.sample" target="_blank">num.json</a> from the repository and edit it to include your phone numbers.</p>
                <p>
                    <script src="https://gist.github.com/aashish-joshi/a6b3e7c9b9f85e73f4e4eff860b82356.js"></script>
                </p>

                <p class="sect-body"><strong>Step 2</strong>: Copy the code below and paste it into your website. Be sure to update the <span class="code-block">data-uri</span> to point to the correct location of the <span class="code-block">num.json</span> file.</p>
                <p>
                    <script src="https://gist.github.com/aashish-joshi/74a306a8256a6bd83635e79c2eb1a2b6.js"></script>
                </p>
            </section>

        </div>
        <module href="./components/foot.html"></module>
        
    </body>
</html>